//提供全局变量
//自定义主题色


//左侧导航栏
//宽度
$base-menu-width: 260px;
$base-menu-min-width: 50px;
//背景色
$base-menu-background: #001529;
//logo高度
$base-menu-logo-height: 50px;
//logo右侧文字大小
$base-menu-logo-tittle-fontSize: 20px;

//顶部导航
//高度
$base-tabbar-height: 50px;

$base-layout-background: #fafafa;